*{
    text-decoration: none;
    color: #837a74;
    background-color: white;
}
header{
    border-bottom: 1px solid #d4d8c9;
    height: 5%;
    width: 99.5vw;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5px;
}
header div{
    background-color: transparent;
    height: inherit;
    width: 26%;
    /* border: 1px black solid; */
    display: flex;
    align-items: center;
    justify-content: center;
}
header div img{
width: inherit;
border-radius: 37px;
}
header nav{
    background-color: transparent;
    height: inherit;
    width: 65vw;
    /* border: 1px black solid; */
}
header nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
header nav ul li{
    color: #f38c54;
    font-weight: 600;
    font-size: 1.6vw;
    text-decoration: none;
}
header nav ul li:hover{
   border-bottom: #f38c54 solid 2.5px;

}
header nav ul li:last-child{
    width: 10vw;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: none;
    /* border: 1px solid rgba(255, 166, 0, 0.671); */
   
 }
 header nav ul li:last-child a{
    color: #f38c54;
    border-radius:3px;
    padding:10px 15px;
    border: 1px solid #f38c54;
    border-width: 2.5px;
 }
 header nav ul li:last-child a:hover{
    background-color: #f38c54;
    color: white;
 }
/* .action-bar a{
    color: orange;
    padding: 20px 12px;
    border: 1px solid black;
    width: 10vw;
    height: inherit;
}
.action-bar:hover{
    border: 1px solid orange; */
    /* background-color: orange;
    color: white;
    border-radius:3px;
    padding: 11px 15px; */
/*}*/
